<!DOCTYPE html>
<html>
<head>
  <title>TodoRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if Rails.env.development? %>
  <p>
    <strong>Controller</strong> <%= controller_name %><br>
    <strong>Action</strong> <%= action_name %><br>
    <strong>Path</strong> <%= request.path %><br>
  </p>
<% end %>

<%= yield %>

</body>
</html>
